<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>404</title>
	<link type="text/css" rel="stylesheet" href="/static/modules/404/index_065b430.css">
</head>
<body>
	<div class="img-wrap"></div>
	<p class="error-msg">对不起，你访问的页面不存在！</p>
	<div class="btnl-wrap">
		倒计时<span id="J-timer">5</span>秒...
		<a id="J-back" href="/" class="btnl btnl-border">返回首页</a>
	</div>
	<script type="text/javascript" charset="utf-8" src="/static/pkg/lib_6d4ccf4.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/modules/404/index_76277f0.js"></script>
<script type="text/javascript">
	require('404/index');
	</script>
</body>
</html>