<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="format-detection" content="telephone=no">
	<title>淘金子商城升级</title>
	<link type="text/css" rel="stylesheet" href="/static/modules/app-shengji/index_b0946de.css">
</head>
<body>
<dl>
	<dt>①请搜索并关注微信公众号“淘金子商城”。</dt>
	<dd>
		<img class="guide" src="/static/images/pc-tip_a2d04ee.png" />
	</dd>
	<dt>②扫描下方二维码下载新版APP。</dt>
	<dd>
		<img class="erwei" src="/static/images/erwei-10_ce23ff9.png" />
	</dd>
	<dt>②点击直接下载淘金子商城APP。</dt>
	<dd>
		<a class="btnl">点击下载商城APP</a>
	</dd>
</dl>
</body>
</html>