<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>商品评价</title>
	<link type="text/css" rel="stylesheet" href="/static/pkg/auto_combine_9a980_6e2c55f.css">
</head>
<body>
	<input id="J-uploader-url" value="" type="hidden" />
	<!--
		@require "modules/common/common.less"
		@require "modules/common/header/header.less"
	-->
	<header>
	<a href="http://www.baidu.com" class="btn-fir"><i class="icon-fir"></i><label>首页</label></a>
	<a class="btn-order"><i class="icon-order"></i><label>我的订单</label></a>
</header>

	<form id="J-form" action="http://www.baidu.com" method="post">
		<section class="text-wrap">
			<textarea id="J-area" name="content" placeholder="请输入您对我们商品的评价，点这里反馈，最多200个字哦~"></textarea>
		</section>
		<section id="J-uploader-list" class="uploader-section">
			<div class="item item-upload">
				<div class="uplaoder item-inner">
					<div class="upload-default"></div>
					<div id="J-loading" class="loading-icon-wrap"><i class="loading-icon"></i></div>
					<input id="J-file-input" type="file" accept="image/*" multiple />
				</div>
			</div>
		</section>
		<section class="star-section">
			<label>商品评分</label>
			<div class="J-star-bar star-bar">
				<div class="star-gray"></div>
				<div class="star-inner">
					<div class="star-active"></div>
				</div>
			</div>
		</section>
		<footer>
			<button id="J-submit" class="j-ajax j-disabled btnl" disabled-forever="1" form="J-form" alert="您的评论已提交！" alert-to="">提交</button>
		</footer>
	</form>
	<script type="text/javascript" charset="utf-8" src="/static/pkg/lib_6d4ccf4.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/pkg/auto_combine_9c42f_e7fc2bc.js"></script>
<script type="text/javascript">
	require('question/index');
	</script>
</body>
</html>