<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="format-detection" content="telephone=no">
	<title>阳澄湖大闸蟹货湖介绍</title>
	<link type="text/css" rel="stylesheet" href="/static/modules/crab-origin/index_494f17d.css">
</head>
<body>
	<div class="wrap">
		<header>
	<a href="http://www.baidu.com" class="btn-fir"><i class="icon-fir"></i><label>首页</label></a>
	<a class="btn-order"><i class="icon-order"></i><label>我的订单</label></a>
</header>

		<section class="banner">
			<div class="img-wrap"></div>
		</section>

		<section class="crab-trans">
			<div class="section-title"><span class="title">快递说明</span></div>
			<div class="section-content">
				<div class="img-wrap"></div>
				<div class="img-wrap"></div>
			</div>
		</section>

		<section class="crab-prove">
			<div class="section-title"><span class="title">阳澄湖养殖场资质证明</span></div>
			<div class="section-content">
				<div class="img-wrap"></div>
				<div class="img-wrap"></div>
			</div>
		</section>

		<section class="crab-zheng">
			<div class="section-title"><span class="title">阳澄湖大闸蟹正品质检报告</span></div>
			<div class="section-content">
				<div class="img-wrap"></div>
			</div>
		</section>

		<section class="crab-scenery">
			<div class="section-title"><span class="title">大闸蟹出湖实景</span></div>
			<div class="section-content">
				<div class="img-wrap"></div>
				<div class="img-wrap"></div>
				<div class="img-wrap"></div>
				<div class="img-wrap"></div>
				<div class="img-wrap"></div>
			</div>
		</section>
	</div>

	<div id="copyright"><i></i></div>
</body>
</html>