<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="format-detection" content="telephone=no">
	<title>蟹券兑换</title>
	<link type="text/css" rel="stylesheet" href="/static/pkg/auto_combine_eca11_36e3555.css">
</head>
<body>
	<div class="wrap">
		<header>
	<a href="http://www.baidu.com" class="btn-fir"><i class="icon-fir"></i><label>首页</label></a>
	<a class="btn-order"><i class="icon-order"></i><label>我的订单</label></a>
</header>

		<div class="crab-notice"><i class="icon-laba"></i><span>9月23日蟹上市后开始兑换</span></div>

		<ul class="ticket-list">
			<li class="ticket-item">
				<div class="info">
					<p class="title">6只装</p>
					<p class="attr">公蟹3只*155G｜母蟹3只*105G</p>
				</div>
				<div class="btn-wrap">
					<a class="btnl btnl-crab">转赠</a>
					<a class="btnl btnl-disabled">兑换</a>
				</div>
			</li>
			<li class="ticket-item">
				<div class="info">
					<p class="title">8只装</p>
					<p class="attr">公蟹2只*155G｜母蟹3只*105G</p>
					<p class="attr">公蟹3只*155G｜母蟹1只*155G</p>
				</div>
				<div class="btn-wrap">
					<a class="btnl btnl-crab">转赠</a>
					<a class="btnl btnl-disabled">兑换</a>
				</div>
			</li>
		</ul>
	</div>
	<script type="text/javascript" charset="utf-8" src="/static/pkg/lib_6d4ccf4.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/pkg/auto_combine_2d2e7_f2bcbd5.js"></script>
<script type="text/javascript">
        require('crab-ticket/index');
    </script>
</body>
</html>