<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>化妆品</title>
	<link type="text/css" rel="stylesheet" href="/static/pkg/auto_combine_5bbfd_2f080d6.css">
</head>
<body>
	<input id="J-ajax-url" type="hidden" value="/index.php/goodslistAction/get_list_data" />
	<!--
		@require "modules/common/common.less"
		@require "modules/common/header/header.less"
	-->
	<header>
	<a href="http://www.baidu.com" class="btn-fir"><i class="icon-fir"></i><label>首页</label></a>
	<a class="btn-order"><i class="icon-order"></i><label>我的订单</label></a>
</header>
	<section class="banner" style="background-image:url(/static/images/test/1.jpg)">
		<div class="banner-layer clearfix">
			<span>海洋基因嫩颜秘诀专场</span>
			<span class="right">剩余<span timer="100000"></span></span>
		</div>
	</section>
	<ul class="goods-order goods-order-tm">
		<li class="goods-filter"><a><i class="icon"></i>有货</a></li>
		<li class="active up"><a><i class="icon-arrow-down"></i>销量</a></li>
		<li><a><i class="icon-arrow-down"></i>价格</a></li>
	</ul>
	<section id="J-goods-list" class="goods-list">
		<div class="goods">
			<div class="img-wrap" style="background-image: url(/static/images/test/tm-1.png)">
				<div class="empty">已抢光</div>
			</div>
			<div class="goods-title">clinique超值润肤水1,clinique超值润肤水1</div>
			<div class="clearfix">
				<label class="price"><i>&yen;</i><b>128.55</b></label>
				<label class="btn btn-sm right">7.8折</label>
			</div>
		</div>
		<div class="goods">
			<div class="img-wrap" style="background-image: url(/static/images/test/tm-1.png)"></div>
			<div class="goods-title">clinique超值润肤水1,clinique超值润肤水1</div>
			<div class="clearfix">
				<label class="price"><i>&yen;</i><b>128.55</b></label>
				<label class="btn btn-sm right">3折</label>
			</div>
		</div>
		<div class="goods">
			<div class="img-wrap" style="background-image: url(/static/images/test/tm-1.png)"></div>
			<div class="goods-title">clinique超值润肤水1,clinique超值润肤水1</div>
			<div class="clearfix">
				<label class="price"><i>&yen;</i><b>128.55</b></label>
				<label class="btn btn-sm">7.8折</label>
			</div>
		</div>
		<div class="goods">
			<div class="img-wrap" style="background-image: url(/static/images/test/tm-1.png)"></div>
			<div class="goods-title">clinique超值润肤水1,clinique超值润肤水1</div>
			<div class="clearfix">
				<label class="price"><i>&yen;</i><b>128.55</b></label>
				<label class="btn btn-sm">7.8折</label>
			</div>
		</div>
		<div class="goods">
			<div class="img-wrap" style="background-image: url(/static/images/test/tm-1.png)"></div>
			<div class="goods-title">clinique超值润肤水1,clinique超值润肤水1</div>
			<div class="clearfix">
				<label class="price"><i>&yen;</i><b>128.55</b></label>
				<label class="btn btn-sm">7.8折</label>
			</div>
		</div>
		<div class="goods">
			<div class="img-wrap" style="background-image: url(/static/images/test/tm-1.png)"></div>
			<div class="goods-title">clinique超值润肤水1,clinique超值润肤水1</div>
			<div class="clearfix">
				<label class="price"><i>&yen;</i><b>128.55</b></label>
				<label class="btn btn-sm">7.8折</label>
			</div>
		</div>
		<div class="goods">
			<div class="img-wrap" style="background-image: url(/static/images/test/tm-1.png)"></div>
			<div class="goods-title">clinique超值润肤水1,clinique超值润肤水1</div>
			<div class="clearfix">
				<label class="price"><i>&yen;</i><b>128.55</b></label>
				<label class="btn btn-sm">7.8折</label>
			</div>
		</div>
	</section>
	<div id="J-loading" class="loading-icon-wrap"><i class="loading-icon"></i></div>
	<script type="text/javascript" charset="utf-8" src="/static/pkg/lib_6d4ccf4.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/pkg/auto_combine_15000_e6f22b3.js"></script>
<script type="text/javascript">
		require('goods-list/index');
	</script>
</body>
</html>