<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>支付</title>
	<link type="text/css" rel="stylesheet" href="/static/pkg/auto_combine_7f676_7de30a5.css">
</head>
<body>
	<div class="wrap">
		<div class="img-wrap"></div>
		<div class="btn-wrap">
			<a id="J-wx-pay" class="btnl">马上加入分销</a>
		</div>
	</div>
	<script type="text/javascript" charset="utf-8" src="/static/pkg/lib_6d4ccf4.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/pkg/auto_combine_ac742_2f1fb36.js"></script>
<script type="text/javascript">
	require('pay-wx/index');
	</script>
</body>
</html>