<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="format-detection" content="telephone=no">
	<title>确认服务人</title>
	<link type="text/css" rel="stylesheet" href="/static/pkg/auto_combine_1aef1_4abf04f.css">
</head>
<body >
	<div class="wrap">
		<header>
	<a href="http://www.baidu.com" class="btn-fir"><i class="icon-fir"></i><label>首页</label></a>
	<a class="btn-order"><i class="icon-order"></i><label>我的订单</label></a>
</header>
		<section class="user-section">
			<div class="img-wrap headimg" style="background-image:url(/static/images/test/person.png)"></div>
			<p class="name">服务人慕容孤雪</p>
			<p class="welcome">欢迎您加入淘金子</p>
		</section>
		<div class="btn-wrap">
			<button id="J-contact-btn" phone="15210010587" type="button" class="btnl btnl-wx">联系他</button>
		</div>
		<div class="modify-wrap">
			<a id="J-modify-btn" class="modify-btn">修改我的服务人</a>
		</div>
	</div>

	<script type="text/javascript" charset="utf-8" src="/static/pkg/lib_6d4ccf4.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/pkg/auto_combine_8064d_d0c87eb.js"></script>
<script type="text/javascript">
	require('recommend/index');
	</script>
</body>
</html>