<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>我的积分</title>
	<link type="text/css" rel="stylesheet" href="/static/pkg/auto_combine_de803_0d7cd28.css">
</head>
<body>
	<!--
		@require "modules/common/common.less"
		@require "modules/common/header/header.less"
	-->
	<header>
	<a href="http://www.baidu.com" class="btn-fir"><i class="icon-fir"></i><label>首页</label></a>
	<a class="btn-order"><i class="icon-order"></i><label>我的订单</label></a>
</header>

	<section class="money-wrap">
		<div class="my-money">
			<span class="money">88.<small>00</small></span>
		</div>
		<p id="J-score-rule" class="score-rule">积分获取规则>></p>
	</section>

	<section class="wallet-detail">
		<ul class="nav">
			<li class="active"><a>全部</a></li>
			<li><a>支出</a></li>
			<li><a>收入</a></li>
		</ul>
		<div class="container">
			<ul id="J-bill-all" class="detail-list">
				<li>
					<span class="title">购买商品</span>
					<span class="price">-10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">购买商品</span>
					<span class="price">-10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">购买商品</span>
					<span class="price">-10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">推荐好友</span>
					<span class="price income">+10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">购买商品</span>
					<span class="price">-10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
			</ul>
			<ul id="J-bill-out" class="detail-list">
				<li>
					<span class="title">购买商品</span>
					<span class="price">-10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">购买商品</span>
					<span class="price">-10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">购买商品</span>
					<span class="price">-10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">购买商品</span>
					<span class="price">-10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">购买商品</span>
					<span class="price">-10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">购买商品</span>
					<span class="price">-10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">购买商品</span>
					<span class="price">-10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">购买商品</span>
					<span class="price">-10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">购买商品</span>
					<span class="price">-10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
			</ul>
			<ul id="J-bill-in" class="detail-list">
				<li>
					<span class="title">推荐好友</span>
					<span class="price income">+10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">推荐好友</span>
					<span class="price income">+10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">推荐好友</span>
					<span class="price income">+10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">推荐好友</span>
					<span class="price income">+10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">推荐好友</span>
					<span class="price income">+10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">推荐好友</span>
					<span class="price income">+10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">推荐好友</span>
					<span class="price income">+10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">推荐好友</span>
					<span class="price income">+10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
				<li>
					<span class="title">推荐好友</span>
					<span class="price income">+10.00</span>
					<span class="date">07-20 12:01</span>
				</li>
			</ul>
		</div>
	</section>

	<script type="text/javascript" charset="utf-8" src="/static/pkg/lib_6d4ccf4.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/pkg/auto_combine_46b6f_a0f9a75.js"></script>
<script type="text/javascript">
		require('score/index');
	</script>
</body>
</html>