<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="format-detection" content="telephone=no">
	<title>申请开店</title>
	<link type="text/css" rel="stylesheet" href="/static/pkg/auto_combine_14247_a1787a0.css">
</head>
<body no-copyright="1">
	<div class="img-wrap"></div>
	
	<div class="fix-foot">
		<a id="J-shop" class="btnl">立即申请开店</a>	
	</div>

	<script type="text/javascript" charset="utf-8" src="/static/pkg/lib_6d4ccf4.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/pkg/auto_combine_eebc0_d9be04a.js"></script>
<script type="text/javascript">
	require('shop-college/index');
	</script>
</body>
</html>