<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>我的优惠券</title>
	<link type="text/css" rel="stylesheet" href="/static/modules/ticket-list/index_85d2b63.css">
</head>
<body>
	<header>
	<a href="http://www.baidu.com" class="btn-fir"><i class="icon-fir"></i><label>首页</label></a>
	<a class="btn-order"><i class="icon-order"></i><label>我的订单</label></a>
</header>
	<ul class="ticket-nav">
		<li class="active"><a>当前可用</a></li>
		<li><a>不可用</a></li>
	</ul>
	<ul class="ticket-list">
		<li class="dated">
			<div class="info">
				<p class="ticket-name">新人礼券</p>
				<p class="tip">满88元可用</p>
				<p class="ticket-date">15-10-27~15-12-01</p>
			</div>
			<div class="money"><small>&yen;</small><b>12</b></div>
		</li>
		<li class="used">
			<div class="info">
				<p class="ticket-name">新人礼券</p>
				<p class="tip">满88元可用</p>
				<p class="ticket-date">15-10-27~15-12-01</p>
			</div>
			<div class="money"><small>&yen;</small><b>12</b></div>
		</li>
		<li>
			<div class="info">
				<p class="ticket-name">新人礼券</p>
				<p class="tip">满88元可用</p>
				<p class="ticket-date">15-10-27~15-12-01</p>
			</div>
			<div class="money"><small>&yen;</small><b>12</b></div>
		</li>
	</ul>
	<!-- <div class="empty">
		<div class="icon-empty"></div>
		<p>啊哦，您还没有优惠券哦！</p>
	</div> -->
	<script type="text/javascript" charset="utf-8" src="/static/pkg/lib_6d4ccf4.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/modules/ticket-list/index_174e588.js"></script>
<script type="text/javascript">
		require('ticket-list/index');
	</script>
</body>
</html>