<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<!-- <link rel="stylesheet" type="text/css" href="../modules/z-person/index.less"> -->
	<link type="text/css" rel="stylesheet" href="/static/pkg/auto_combine_2e5ee_6a206c8.css">
</head>
<body>
个人中心
<button id="J-register" alert="register-1.html?close=0" class="btnl">补全信息</button>
<ul class="nav dib-wrap">
	<li class="mall active dib">
		<a>
			<i class="icon"></i>
			<label>淘金商城</label>
		</a>
	</li>
	<li class="gift dib">
		<a>
			<i class="icon"></i>
			<label>开店</label>
		</a>
	</li>
	<li class="mine dib">
		<a>
			<i class="icon"></i>
			<label>我的</label>
		</a>
	</li>
</ul>
<script type="text/javascript" charset="utf-8" src="/static/pkg/lib_6d4ccf4.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/pkg/auto_combine_c8d3d_52c35de.js"></script>
<script type="text/javascript">
	require('z-person/index');
</script>
</body>
</html>