<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link type="text/css" rel="stylesheet" href="/static/pkg/auto_combine_fa9ef_56d8316.css">
</head>
<body alert="register-1.html">
开店
<script type="text/javascript" charset="utf-8" src="/static/pkg/lib_6d4ccf4.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/pkg/auto_combine_6f44e_d57a266.js"></script>
<script type="text/javascript">
	require('z-shop/index');
</script>
</body>
</html>